/**
 * Issue Sorting
 * Mod 2
 */

html,
body {
    width: 100%;
    height: 100%;
}

.container-fluid {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../../core/img/main-bg.jpg) no-repeat center;
}

.fixed-width-1000 {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.bold {
    font-weight: 600;
}

.btn {
    text-decoration: none;
}

.btn.lg {
    min-width: 100px;
    font-size: 36px;
    padding: 10px 22px;
    text-align: center;
}

.theater {
    z-index: 2;
    width: 800px;
    height: 550px;
    position: relative;
    padding: 150px 100px 0;
}

.theater .btn.next {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.transcript{
  left:30px;
  bottom:30px
}

#stripe {
    background: rgba(19, 176, 200, 0.8);
    height: 370px;
    left: 0;
    position: absolute;
    top: 160px;
    width: 100%;
    z-index: 100;
}

#stripe .mainColumn {
    height: 320px;
    margin-top: 50px;
}

#stripe .title {
    font-size: 30px;
    font-weight: 100;
    margin: 0 auto;
    width: 600px;
}

#stripe .bodycopy {
    line-height: 1.2em;
    margin: 20px auto 0;
    width: 600px;
}

#stripe #nextbtn {
    bottom: 20px;
    right: 200px;
}

.intro-popup {
    z-index: 50
}

.intro-popup .textbox .textarea {
    font-size: 18px;
}

.intro-popup .textbox .header {
    font-family: 'Gotham', sans-serif !important;
}

#stripe.conclusion-2 {
    top: 600px;
    opacity: 0;
    visibility: hidden;
}


/* Image Container
 ------------------------------------------- */

.image-container,
.conclusion-image-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.image-container {
    top: 10px;
}

.single-image {
    width: 1000px;
    height: 700px;
    position: absolute;
}

.quote-text {
    max-width: 500px;
    font-style: italic;
    font-size: 28px;
    font-weight: 100;
    line-height: 32px;
    position: absolute;
}

.email-content {
    top: 152px;
    left: 244px;
    color: #222;
    font-size: 17px;
    max-width: 552px;
    position: absolute;
}

.email-content p {
    margin-bottom: 23px;
}

.email-content p:first-child {
    margin-bottom: 12px;
}

.text-message {
    top: 199px;
    left: 335px;
    color: #444;
    width: 280px;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
}

.image-caption-container {
    top: 758px;
    z-index: 10;
    width: 100%;
    height: 58px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

.caption {
    color: #13b0c8;
    font-size: 15px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
}

.ui-choice-container {
    z-index: 11;
    bottom: -228px;
    left: 0;
    width: 1000px;
    height: 228px;
    position: absolute;
    background-color: rgba(19, 176, 200, 0.8);
}

.ui-choice-container .question {
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    padding: 40px 0 30px;
}

.center-buttons {
    width: 300px;
    margin: auto;
}

.center-buttons .btn {
    display: inline-block;
    position: relative;
    background: transparent;
}

.center-buttons .btn:hover {
    background: #8cc63f;
}


/* Calendar
 ------------------------------------------- */

.time-lapse {
    opacity: 0;
    visibility: hidden;
}

.time-lapse .copy {
    position: absolute;
    top: 106px;
    text-align: center;
    width: 100%;
}

.time-lapse .copy p {
    font-size: 18px;
    line-height: 22px;
    padding: 0 160px;
}

.calendar {
    top: 50%;
    left: 50%;
    width: 543px;
    height: 366px;
    position: absolute;
    margin: -183px 0 0 -271px;
}

.calendar-page-new {
    top: 0;
    left: 0;
    width: 543px;
    height: 366px;
    position: absolute;
    background: url(../../content/unlawful/img/calendar-page.png) no-repeat center;
}

#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
    top: 5px;
    left: 5px;
}

#p3 {
    z-index: 1;
    top: 10px;
    left: 10px;
}


/* Preconclusion
 ------------------------------------------- */

.pre-conclusion {
    opacity: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
}

.conclusion-image-container {
    top: -80px;
    left: 0;
    width: 610px;
    height: 600px;
    position: absolute;
    z-index: 5;
}

.pre-conclusion .stripe {
    width: 1000px;
    height: 536px;
    position: absolute;
    top: 118px;
    background: rgba(18, 176, 200, 0.8);
}

.pre-conclusion .blurb {
    padding: 8px 0 0 48px;
    height: 81px;
    margin-bottom: 30px;
    background: url('img/bracket.png') left top no-repeat;
    color: #454545;
    font-style: italic;
    font-size: 30px;
    line-height: 34px;
    position: absolute;
    left: 500px;
    top: 18px;
}

.conclusion-text {
    position: absolute;
    width: 340px;
    line-height: 20px;
    left: 600px;
    top: 118px;
}

.conclusion-text .header {
    text-align: left;
    line-height: 28px;
}


/* Conclusion
 ------------------------------------------- */

.conclusion {
    opacity: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
}

.conclusion .title {
    top: 54px;
    width: 100%;
    font-size: 36px;
    text-align: center;
    position: absolute;
}

.conclusion .summary {
    z-index: 1;
    /*top: 120px;*/
    top: 176px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    min-height: 57px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.conclusion .summary p {
    color: #13b0c8;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 30px;
}

.results-container {
    z-index: 2;
    top: 176px;
    width: 100%;
    height: 499px;
    padding-top: 25px;
    position: absolute;
    background-color: #13b0c8;
    background-color: rgba(19, 176, 200, 0.8);
}

#definitionbtn {
    z-index: 4;
}

.feedback {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #8bc43f;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.feedback .mainImg {
    position: absolute;
    left: 43px;
    top: 60px;
}

.feedback .text {
    padding: 61px 73px 0 391px;
    height: 399px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.feedback .blurb {
    padding: 20px 0 0 48px;
    height: 67px;
    margin-bottom: 30px;
    background: url('img/bracket.png') left top no-repeat;
    color: #454545;
    font-style: italic;
    font-size: 30px;
    line-height: 34px;
}

.feedback .title {
    position: relative;
    left: 0px;
    top: 0px;
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: left;
}

.feedback .title,
.feedback .body {
    padding-left: 48px;
}

.feedback .close {
    position: absolute;
    cursor: pointer;
    right: 42px;
    top: 42px;
}

.escalated,
.not-escalated {
    float: left;
    width: 500px;
}

.thumbnails {
    width: 442px;
    margin: auto;
}

.header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 14px;
}

.thumbnail {
    cursor: pointer;
    width: 197px;
    height: 95px;
    padding: 5px;
    margin: 6px 5px;
    position: relative;
    display: inline-block;
    background-color: #34acc1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.thumbnail.empty {
    cursor: default;
    box-shadow: none
}

.thumbnail .thumbImg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}


/*
				.showing-feedback img {
					top: 0;
					left: 0;
					border: 4px solid #13b0c8; }
				.feedback-overlay {
					z-index: 1;
					top: -14px;
					opacity: 0;
					width: 700px;
					height: 173px;
					position: absolute;
					visibility: hidden;
					background: #8bc43f;
					box-shadow: 0 0 8px rgba(0,0,0,0.25); }
					.feedback-close {
						top: 5px;
						z-index: 10;
						width: 15px;
						height: 15px;
						position: absolute;
						background: url(../../content/unlawful/img/feedback-close-btn.png) no-repeat center; }
					.escalated .feedback-overlay { left: -14px; }
					.not-escalated .feedback-overlay { left: -484px; }
					.feedback-title {
						top: auto;
						font-size: 23px;
						font-weight: bold;
						position: relative;
						padding: 20px 0 5px 20px; }
					.feedback-overlay .copy {
						width: 444px;
						padding: 5px 0 0 20px; }
					.escalated .feedback-overlay .feedback-close { left: auto; right: 5px; }
					.escalated .feedback-overlay .feedback-title,
					.escalated .feedback-overlay .copy { padding-left: 240px; }
					*/

.xed {
    z-index: 3;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.red-x {
    background: url('../../content/unlawful/img/red-x.png') no-repeat center;
}

.green-x {
    background: url('../../content/unlawful/img/green-x.png') no-repeat center;
}

#conclusion-next {
    position: absolute;
    right: 20px;
    bottom: -70px;
    z-index: 4;
}

#policy {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.instructions {
    clear: both;
    font-size: 18px;
    padding-top: 14px;
    text-align: center;
}
.smaller{
    font-size: 12px;
}