#workplace-stereotypes {
    background-image: url(./img/page_bg.jpg);
    margin-top: -50px;
}
.examples-container {
    height: 476px;
    position: absolute;
    top: 224px;
    width: 1000px;
}
.examples-container .instructions,
.examples-container .body {
    font-family: 'Gotham';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    top: -177px;
}
.instructions {
    font-style: italic;
    height: 52px;
    line-height: 47px;
    margin-top: 20px;
    text-align: center;
    color: #E8DFDFC7;
}
.examples-container .body {
    margin-left: 230px;
    text-align: left;  
    padding-right: 30px;
}
.examples-container .header {
    font-family: 'Gotham';
    font-size: 24px;
    font-weight: bold;
    position: relative;
    text-align: left;
    top: -187px;
    margin-left: 230px;
}
.examples-container .btn.next {
    bottom: 16px;
    right: 16px;
    z-index: 10;
}
.example.long {
    display: flex;
    background-color: #8bc43f;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100%;
    top: 0px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: solid gray 2px;
}
.example.long p {
    padding: 5px;
}
.example.long.selected {
    background-color: #13b0c8;
    z-index: 10;
    border-bottom: none;
	box-shadow: 2px 10px 32px -10px #6E6E6E;
    width: 102%;
}
.example.long.selected:before {
    content: "";
    position: absolute;
    right: -1.25em;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 1.25em solid #13b0c8;
    border-top: 3.15em solid transparent;
    border-bottom: 3.15em solid transparent;
    filter: drop-shadow(3px -1px 4px #A3A3A3);
}
.example.seen img {
    opacity: 1
}
#examples-column-left {
    float: left;
    margin-left: 30px;
    position: relative;
    top: -200px;
}
.examples-feedback {
    background-color: white;
    color: black;
    left: 0px;
    float: left;
    width: 70%;
    position: relative;
    top: -200px;
    height: 406px;
}
.examples-feedback .title {
    color: #13b0c8;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
}
.examples-feedback .copy {
    font-size: 18px;
    line-height: 20px;
    padding:  5px 30px;
}
.examples-feedback .copy ul {
    list-style: outside;
}
